<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Keep-LaunchScreen.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>35FA813A1D680C4E006F34AC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>35FA81531D680C4E006F34AC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>35FA815E1D680C4E006F34AC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
